@model Matsusanity.Models.Workout

@{
    ViewData["Title"] = "Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Workout</h1>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutPlan.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetsOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetsOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetsTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetsTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetsThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetsThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetsFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetsFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetsFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetsFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightFive)
        </dd>
    </dl>
</div>

